/*
 * download form
 */
.dlcounter {
    text-align: center;
}
.dlcounter_button {}
.dlcounter_count {
    display: block;
}

/*
 * statistics
 */
#dlcounter_stats {
}
#dlcounter_stats h4 {
    color: #3D3D3D;
    background-color: #8bd;
    cursor: pointer;
    padding: 0.2em;
}
#dlcounter_stats table.tablesorter {
    background-color: #ccc;
    width: 100%;
    text-align: left;
}
#dlcounter_stats table.tablesorter thead tr th,
#dlcounter_stats table.tablesorter tfoot tr th {
    background-color: #dee;
    border: 1px solid #fff;
    padding: 0.2em;
}
#dlcounter_stats table.tablesorter thead tr .header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
#dlcounter_stats table.tablesorter tbody td {
    color: #444;
    padding: 0.2em;
    background-color: #fff;
    vertical-align: top;
}
#dlcounter_stats table.tablesorter tbody tr.odd td {
    background-color:#eee;
}
#dlcounter_stats table.tablesorter thead tr .headerSortUp {
    background-image: url("asc.gif");
}
#dlcounter_stats table.tablesorter thead tr .headerSortDown {
    background-image: url("desc.gif");
}
#dlcounter_stats table.tablesorter thead tr .headerSortDown,
#dlcounter_stats table.tablesorter thead tr .headerSortUp {
    background-color: #8bd;
}
