/*
 * download form
 */
.dlcounter {
    text-align: center;
}
.dlcounter button {
    padding: 0;
    border: none;
    margin: 0;
}

/*
 * statistics
 */
#dlcounter_stats {}
#dlcounter_stats h4 {
    color: #3D3D3D;
    background-color: #8dbdd8;
    cursor: pointer;
    padding: 3px;
}
#dlcounter_stats table.tablesorter {
    font-family:arial;
    background-color: #CDCDCD;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
#dlcounter_stats table.tablesorter thead tr th,
#dlcounter_stats table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}
#dlcounter_stats table.tablesorter thead tr .header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
#dlcounter_stats table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
#dlcounter_stats table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
#dlcounter_stats table.tablesorter thead tr .headerSortUp {
    background-image: url(asc.gif);
}
#dlcounter_stats table.tablesorter thead tr .headerSortDown {
    background-image: url(desc.gif);
}
#dlcounter_stats table.tablesorter thead tr .headerSortDown,
#dlcounter_stats table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

/*
 * plugin info
 */
.dlcounter_system_check {
    list-style: none;
    padding-left: 0;
}
.dlcounter_system_check img {
    padding-right: 0.5em;
}
.dlcounter_plugin_icon {
    float: left;
    margin: 0.5em 0.5em 0 0;
}
.dlcounter_license {
    text-align: justify;
}
