/*
 * download form
 */
.dlcounter {
    text-align: center;
}
.dlcounter_button {}
.dlcounter_button span {
    display: block;
    margin: 1em;
}
.dlcounter_count {}

/*
 * statistics
 */
#dlcounter_stats {
}
#dlcounter_stats h4 {
	color: #fff;
	background-color: #666;
	cursor: pointer;
	padding: .25em .5em;
	font-size: 1em;
}
#dlcounter_stats table.tablesorter {
	box-sizing: border-box;
	display: block;
	max-width: 100%;
	width: 100%;
	overflow-x: auto;
	white-space: nowrap;
	border-collapse: collapse;
	color: #000;
	font: inherit;
	table-layout: fixed;
	margin: .5em 0;
}
#dlcounter_stats table.tablesorter th {
	background-color: #ddd;
	padding: .25em .5em;
	vertical-align: top;
	text-align: left;
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	font-weight: normal;
	text-transform: uppercase;
	width: 50%;
}
#dlcounter_stats table.tablesorter th:first-of-type {
	border-right: 1px solid #fff;
}
#dlcounter_stats table.tablesorter tr:nth-child(even) {
	background: #efefef;
}
#dlcounter_stats table.tablesorter tr:nth-child(odd) {
	background: #fff;
}
#dlcounter_stats table.tablesorter tbody td {
	padding: .25em .5em;
	vertical-align: top;
}
#dlcounter_stats table.tablesorter tbody td:first-of-type {
	border-right: 1px solid #fff;
}
#dlcounter_stats table.tablesorter thead tr .headerSortUp {
	background-image: url("asc.gif");
}
#dlcounter_stats table.tablesorter thead tr .headerSortDown {
	background-image: url("desc.gif");
}
#dlcounter_stats table.tablesorter thead tr .headerSortDown, #dlcounter_stats table.tablesorter thead tr .headerSortUp {
	background-color: #ccc;
}
